<!-- <div class="topSection">
    <h6 class="sectionContent" >Monthly Networking Meet
       
    </h6>

</div>

    <div class="row">
      <div class="col m3"></div>
        <div class="col m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Monthly Networking Meet</div>
                        <p>(If there is no response put NA)</p>
                        <div *ngIf="!submitted else showSubmitted">

                        <span class="red-text">
                        Required *
                        </span>
                        <div class="row">
                        <form [formGroup]="ourForm" >

                            <div class="input-field">
                                <input type="email" id="email" formControlName="email" class="validate" >
                                <label for="email">Email</label>
                                <div *ngIf="meetingForm.email.touched && meetingForm.email.errors?.required">
                                    <span class="helper-text">The email is Required</span>
                                </div>
                                <div *ngIf="meetingForm.email.touched && meetingForm.email.errors?.email">
                                    <span class="helper-text">The email is invalid</span>
                                </div>
                            </div>   

                            <div class="input-field">
                                <input type="text" id="fullName" formControlName="fullName" class="validate">
                                <label for="fullName">Full Name</label>

                                <div *ngIf="meetingForm.fullName.touched && meetingForm.fullName.errors?.required">
                                    <span class="helper-text">The Full Name is required</span>
                                </div>
                            </div>

                            <div class="track">
                                <p>track*</p>
                                <br>
                                <p>
                                <label>
                                    <input name="track" type="radio" (click)="trackChanged('Android')" id="track" formControlName="track" value="Android">
                                    <span>Android</span>
                                </label>
                                </p> 
                                <p>
                                <label>
                                    <input  name="track" type="radio" (click)="trackChanged('Cloud')" id="track" formControlName="track" value="Cloud">
                                    <span>Cloud</span>
                                </label>
                                </p>                    
                            </div>
                                           
                            <div class="input-field">
                                <input type="text" id="screenshots" formControlName="screenshots">
                                <label for="Screenshots">Screenshots Url</label>

                                <div *ngIf="meetingForm.screenshots.touched && meetingForm.screenshots.errors?.required">
                                    <span class="helper-text">The screenshots url is required</span>
                                </div>

                                <div *ngIf="meetingForm.screenshots.touched && meetingForm.screenshots.errors?.validURL">
                                    <span class="helper-text">The url is not valid</span>
                                </div>
  
                                <small>We Expect Link of screenshots</small>
                            </div>

                            <div class="input-field">
                                <input type="text" id="GithubURL" formControlName="GithubURL">
                                <label for="GithubURL">GithubURL Url (Android Only)</label>

                                <div *ngIf="meetingForm.GithubURL.touched && meetingForm.GithubURL.errors?.required">
                                    <span class="helper-text">The GithubURL is required</span>
                                </div>

                                <div *ngIf="meetingForm.GithubURL.touched && meetingForm.GithubURL.errors?.validURL">
                                    <span class="helper-text">The url is not valid</span>
                                </div>
  
                            </div>

                            <div class="input-field">
                                <textarea class="materialize-textarea" formControlName="feedback" type="text" id="feedback" placeholder="Feedback"></textarea>
                                <label for="feedback">Feedback</label>
  
                            </div>
                            <div class="progress" *ngIf="submitting">
                                <div class="indeterminate"></div>
                            </div>
                                  
                            <input type="submit" value="Submit" [disabled]="ourForm.invalid" (click)="submitData(ourForm.value)"  class="btn">
                        </form>
                        </div>
                                  
                        </div>
                    </div>
                </div>

<ng-template #showSubmitted>
    <p class="green-text">Thank you for submitting your form, We wish you all the best.</p>
</ng-template>

            </div>    
        <div class="col m3"></div>
    </div>

 -->

 <monthly-meet></monthly-meet>

 <!-- <app-meet-app></app-meet-app> -->
 
 